:root {

    --main-font: "Noto Sans TC", sans-serif;
    --padding-large: 90px 0 0 0;
    --padding-default: 30px;
    --margin-zero: 0;
}

body {

    font-family: var(--main-font);
    scroll-behavior: auto;
}

h1,
.title {
    color: var(--text-primary);
}

.main {
    padding: var(--padding-large);
}

* {
    margin: var(--margin-zero);
}

.main {
    padding: 90px 0 0 0;
    display: flex;
    width: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0;

}

.mainContent {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%
}

.firstContent,
.secContent,
.thirdContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 30px;
}