.light {
  --md-sys-color-primary: rgb(77 100 80);
  --md-sys-color-surface-tint: rgb(77 100 80);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(207 233 208);
  --md-sys-color-on-primary-container: rgb(83 106 86);
  --md-sys-color-secondary: rgb(87 97 87);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(239 245 236);
  --md-sys-color-on-secondary-container: rgb(93 103 93);
  --md-sys-color-tertiary: rgb(75 97 112);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(206 230 247);
  --md-sys-color-on-tertiary-container: rgb(81 103 118);
  --md-sys-color-error: rgb(152 69 55);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 151 132);
  --md-sys-color-on-error-container: rgb(120 45 33);
  --md-sys-color-background: rgb(239 245 236);
  --md-sys-color-on-background: rgb(27 28 26);
  --md-sys-color-surface: rgb(250 249 246);
  --md-sys-color-on-surface: rgb(27 28 26);
  --md-sys-color-surface-variant: rgb(223 228 220);
  --md-sys-color-on-surface-variant: rgb(67 72 66);
  --md-sys-color-outline: rgb(175, 177, 175);
  --md-sys-color-outline-variant: rgb(195 200 192);
  --md-sys-color-shadow: rgb(184, 181, 181);
  --md-sys-color-scrim: rgb(206, 228, 201);
  --md-sys-color-inverse-surface: rgb(101, 103, 99);
  --md-sys-color-inverse-on-surface: rgb(242 241 237);
  --md-sys-color-inverse-primary: rgb(180 205 181);
  --md-sys-color-primary-fixed: rgb(207 233 208);
  --md-sys-color-on-primary-fixed: rgb(10 32 17);
  --md-sys-color-primary-fixed-dim: rgb(180 205 181);
  --md-sys-color-on-primary-fixed-variant: rgb(54 76 58);
  --md-sys-color-secondary-fixed: rgb(219 229 217);
  --md-sys-color-on-secondary-fixed: rgb(21 30 22);
  --md-sys-color-secondary-fixed-dim: rgb(191 201 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 73 64);
  --md-sys-color-tertiary-fixed: rgb(206 230 247);
  --md-sys-color-on-tertiary-fixed: rgb(5 30 42);
  --md-sys-color-tertiary-fixed-dim: rgb(178 202 218);
  --md-sys-color-on-tertiary-fixed-variant: rgb(51 74 87);
  --md-sys-color-surface-dim: rgb(219 218 215);
  --md-sys-color-surface-bright: rgb(250 249 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 243 240);
  --md-sys-color-surface-container: rgb(242 248 242);
  --md-sys-color-surface-container-high: rgb(233 232 229);
  --md-sys-color-surface-container-highest: rgb(227 226 223);
  --md-extended-color-custom-color1-color: rgb(116 91 0);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(255 217 106);
  --md-extended-color-custom-color1-on-color-container: rgb(119 94 0);
}

.dark {
  --md-sys-color-primary: rgb(255 255 255);
  --md-sys-color-surface-tint: rgb(180 205 181);
  --md-sys-color-on-primary: rgb(32 53 36);
  --md-sys-color-primary-container: rgb(207 233 208);
  --md-sys-color-on-primary-container: rgb(83 106 86);
  --md-sys-color-secondary: rgb(191 201 190);
  --md-sys-color-on-secondary: rgb(42 51 43);
  --md-sys-color-secondary-container: rgb(64 73 64);
  --md-sys-color-on-secondary-container: rgb(174 184 172);
  --md-sys-color-tertiary: rgb(255 255 255);
  --md-sys-color-on-tertiary: rgb(28 51 64);
  --md-sys-color-tertiary-container: rgb(206 230 247);
  --md-sys-color-on-tertiary-container: rgb(81 103 118);
  --md-sys-color-error: rgb(255 192 180);
  --md-sys-color-on-error: rgb(92 25 14);
  --md-sys-color-error-container: rgb(255 151 132);
  --md-sys-color-on-error-container: rgb(120 45 33);
  --md-sys-color-background: rgb(18 20 18);
  --md-sys-color-on-background: rgb(227 226 223);
  --md-sys-color-surface: rgb(18 20 18);
  --md-sys-color-on-surface: rgb(227 226 223);
  --md-sys-color-surface-variant: rgb(67 72 66);
  --md-sys-color-on-surface-variant: rgb(195 200 192);
  --md-sys-color-outline: rgb(141 146 139);
  --md-sys-color-outline-variant: rgb(67 72 66);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(227 226 223);
  --md-sys-color-inverse-on-surface: rgb(48 49 47);
  --md-sys-color-inverse-primary: rgb(77 100 80);
  --md-sys-color-primary-fixed: rgb(207 233 208);
  --md-sys-color-on-primary-fixed: rgb(10 32 17);
  --md-sys-color-primary-fixed-dim: rgb(180 205 181);
  --md-sys-color-on-primary-fixed-variant: rgb(54 76 58);
  --md-sys-color-secondary-fixed: rgb(219 229 217);
  --md-sys-color-on-secondary-fixed: rgb(21 30 22);
  --md-sys-color-secondary-fixed-dim: rgb(191 201 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 73 64);
  --md-sys-color-tertiary-fixed: rgb(206 230 247);
  --md-sys-color-on-tertiary-fixed: rgb(5 30 42);
  --md-sys-color-tertiary-fixed-dim: rgb(178 202 218);
  --md-sys-color-on-tertiary-fixed-variant: rgb(51 74 87);
  --md-sys-color-surface-dim: rgb(18 20 18);
  --md-sys-color-surface-bright: rgb(56 57 55);
  --md-sys-color-surface-container-lowest: rgb(13 14 13);
  --md-sys-color-surface-container-low: rgb(27 28 26);
  --md-sys-color-surface-container: rgb(31 32 30);
  --md-sys-color-surface-container-high: rgb(41 42 40);
  --md-sys-color-surface-container-highest: rgb(52 53 51);
  --md-extended-color-custom-color1-color: rgb(255 248 240);
  --md-extended-color-custom-color1-on-color: rgb(61 47 0);
  --md-extended-color-custom-color1-color-container: rgb(255 217 106);
  --md-extended-color-custom-color1-on-color-container: rgb(119 94 0);
}