@import url("./m3color.css");

.resources {
    padding: 1rem;
    max-width: 1440px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    /* 手機預設一欄 */
}

.resourcesCard {
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-on-primary);
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 6px 18px var(--md-sys-color-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resourcesCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 32px var(--md-sys-color-scrim);
}

.img-box {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    margin-right: 1rem;
    flex-shrink: 0;
    gap: 12px;
}

.icon {
    width: 80px;
    height: 80px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

}

.title-box h3 {
    font-size: 1.25rem;
    margin: 0;
}

.title-box p {
    font-size: 0.875rem;
    color: var(--md-sys-color-on-surface-variant);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 12px;
}

.list-item {
    display: flex;
    align-items: center;
    background-color: var(--md-sys-color-background);
    border-radius: 8px;
    padding: 0.75rem 1rem;
    box-shadow: 0 1px 1px var(--md-sys-color-shadow);
}

.dot {
    width: 8px;
    height: 8px;
    background-color: var(--md-sys-color-primary);
    border-radius: 50%;
    margin-right: 8px;
}

.cta-button {
    background-color: var(--md-sys-color-primary);
    border: none;
    padding: 12px;
    margin: 24px 0px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
    text-align: center;
}

.cta-button:hover {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}


@media (max-width: 1023px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        /* 平板兩欄 */
    }
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        /* 手機一欄 */
    }

    .icon {
        width: 40px;
        height: 40px;
        /* filter: brightness(1000%); */
    }

    .title-box h3 {
        font-size: 1rem;
        margin: 0;
    }
}